In [ ]:
from pathlib import Path
import json
import pandas as pd

# Map Trnsactions

In [ ]:
def Map_Transactions():
    root_dir = Path("../data/map/transaction/hover/country/india/state")

    lis = []
    for i in root_dir.rglob("*.json"):
        with open(i, 'r') as file:
            content = file.read()
            dataset = json.loads(content)

            state = i.parent.parent.name
            year = i.parent.name

            quarter = i.stem
            quarter = f'Q{quarter}'
            

            lis.append({'state':state, 'year':year, 'quarter':quarter, 'data':dataset})

    # print(lis)

    lis2=[]
    for i in lis:
        for j in i['data']['data']['hoverDataList']:
            # amount format with 2 decimals
            amount_value = j['metric'][0]['amount']
            amount_formatted = f'{amount_value: .2f}'

            data = dict(quarter = i['quarter'],
                        year = i['year'],
                        state = i['state'],
                        district_name = j['name'],
                        type =j['metric'][0]['type'],
                        count = j['metric'][0]['count'],
                        amount = amount_formatted,
                        timestamp = i['data']['responseTimestamp'])
            
            lis2.append(data)

    return lis2

In [134]:
MapTransactions = pd.DataFrame(Map_Transactions())
# MapTransactions.iloc[50:101]
MapTransactions.head(20)

,quarter,year,state,district_name,type,count,amount,timestamp
0,Q1,2018,andaman-&-nicobar-islands,north and middle andaman district,TOTAL,442,931663.08,1630502910687
1,Q1,2018,andaman-&-nicobar-islands,south andaman district,TOTAL,5688,12560249.34,1630502910687
2,Q1,2018,andaman-&-nicobar-islands,nicobars district,TOTAL,528,1139848.80,1630502910687
3,Q2,2018,andaman-&-nicobar-islands,north and middle andaman district,TOTAL,825,1317863.08,1630502910929
4,Q2,2018,andaman-&-nicobar-islands,south andaman district,TOTAL,9395,23948235.52,1630502910929
5,Q2,2018,andaman-&-nicobar-islands,nicobars district,TOTAL,1120,3072436.91,1630502910929
6,Q3,2018,andaman-&-nicobar-islands,north and middle andaman district,TOTAL,1283,4901529.52,1630502910980
7,Q3,2018,andaman-&-nicobar-islands,south andaman district,TOTAL,13511,44268112.46,1630502910980
8,Q3,2018,andaman-&-nicobar-islands,nicobars district,TOTAL,1471,6387829.15,1630502910980
9,Q4,2018,andaman-&-nicobar-islands,north and middle andaman district,TOTAL,2137,7955635.92,1630502911029
10,Q4,2018,andaman-&-nicobar-islands,south andaman district,TOTAL,20136,75411840.80,1630502911029
11,Q4,2018,andaman-&-nicobar-islands,nicobars district,TOTAL,1485,7180859.35,1630502911029
12,Q1,2019,andaman-&-nicobar-islands,north and middle andaman district,TOTAL,3264,9561708.74,1630502911057
13,Q1,2019,andaman-&-nicobar-islands,south andaman district,TOTAL,25683,85501972.39,1630502911057
14,Q1,2019,andaman-&-nicobar-islands,nicobars district,TOTAL,1539,7236059.55,1630502911057
15,Q2,2019,andaman-&-nicobar-islands,north and middle andaman district,TOTAL,3371,8612103.14,1630502911104
16,Q2,2019,andaman-&-nicobar-islands,south andaman district,TOTAL,28490,102530955.71,1630502911104
17,Q2,2019,andaman-&-nicobar-islands,nicobars district,TOTAL,1828,9111650.82,1630502911104
18,Q3,2019,andaman-&-nicobar-islands,north and middle andaman district,TOTAL,4049,11481466.28,1630502911153
19,Q3,2019,andaman-&-nicobar-islands,south andaman district,TOTAL,27421,91023888.33,1630502911153

# Map Users

In [135]:
def Map_Users():
    root_dir = Path("../data/map/user/hover/country/india/state")

    lis = []
    for i in root_dir.rglob("*.json"):
        with open(i, "r") as file:
            context = file.read()
            dataset = json.loads(context)

            state = i.parent.parent.name
            year = i.parent.name

            quarter = i.stem
            quarter = f'Q{quarter}'

            lis.append({'state':state, 'year': year, 'quarter':quarter, 'data':dataset})

    lis2 = []
    for i in lis:
        hoverData = i['data']['data']['hoverData']
        # .items() is used to iterate key value pairs
        # district_name is key and district data is value
        
        for district_name, district_data in hoverData.items():
          
            data = dict(quarter = i['quarter'],
                        year = i['year'],
                        state = i['state'],
                        disrict_name = district_name,
                        registeredUsers = district_data['registeredUsers'],
                        appOpens = district_data['appOpens'],
                        timestamp =i['data']['responseTimestamp'])


            lis2.append(data)

    return lis2

In [133]:
MapUsers = pd.DataFrame(Map_Users())
MapUsers.iloc[51:102]

,quarter,year,state,disrict_name,registeredUsers,appOpens,timestamp
51,Q2,2022,andaman-&-nicobar-islands,north and middle andaman district,11379,963824,1669732284551
52,Q2,2022,andaman-&-nicobar-islands,south andaman district,66959,3404740,1669732284551
53,Q2,2022,andaman-&-nicobar-islands,nicobars district,2192,811449,1669732284551
54,Q3,2022,andaman-&-nicobar-islands,north and middle andaman district,11897,1176567,1669732416068
55,Q3,2022,andaman-&-nicobar-islands,south andaman district,70445,3607286,1669732416068
56,Q3,2022,andaman-&-nicobar-islands,nicobars district,2300,1284501,1669732416068
57,Q4,2022,andaman-&-nicobar-islands,north and middle andaman district,12361,313502,1674558294722
58,Q4,2022,andaman-&-nicobar-islands,south andaman district,73692,3881359,1674558294722
59,Q4,2022,andaman-&-nicobar-islands,nicobars district,2389,159232,1674558294722
60,Q1,2023,andaman-&-nicobar-islands,north and middle andaman district,12941,3103047,1692619114488
61,Q1,2023,andaman-&-nicobar-islands,south andaman district,77052,5450795,1692619114488
62,Q1,2023,andaman-&-nicobar-islands,nicobars district,2491,2458822,1692619114488
63,Q2,2023,andaman-&-nicobar-islands,north and middle andaman district,13600,3174229,1692619296386
64,Q2,2023,andaman-&-nicobar-islands,south andaman district,80112,6884657,1692619296386
65,Q2,2023,andaman-&-nicobar-islands,nicobars district,2617,4679790,1692619296386
66,Q1,2018,andhra-pradesh,east godavari district,350356,0,1630502911498
67,Q1,2018,andhra-pradesh,srikakulam district,143839,0,1630502911498
68,Q1,2018,andhra-pradesh,visakhapatnam district,497187,0,1630502911498
69,Q1,2018,andhra-pradesh,prakasam district,189949,0,1630502911498
70,Q1,2018,andhra-pradesh,anantapur district,241192,0,1630502911498
71,Q1,2018,andhra-pradesh,kurnool district,240133,0,1630502911498
72,Q1,2018,andhra-pradesh,guntur district,317065,0,1630502911498
73,Q1,2018,andhra-pradesh,krishna district,323673,0,1630502911498
74,Q1,2018,andhra-pradesh,spsr nellore district,194475,0,1630502911498
75,Q1,2018,andhra-pradesh,vizianagaram district,128905,0,1630502911498
76,Q1,2018,andhra-pradesh,ysr district,186800,0,1630502911498
77,Q1,2018,andhra-pradesh,west godavari district,213335,0,1630502911498
78,Q1,2018,andhra-pradesh,chittoor district,309541,0,1630502911498
79,Q2,2018,andhra-pradesh,east godavari district,454398,0,1630502911544
80,Q2,2018,andhra-pradesh,srikakulam district,186913,0,1630502911544
81,Q2,2018,andhra-pradesh,visakhapatnam district,636052,0,1630502911544
82,Q2,2018,andhra-pradesh,prakasam district,253458,0,1630502911544
83,Q2,2018,andhra-pradesh,anantapur district,326383,0,1630502911544
84,Q2,2018,andhra-pradesh,kurnool district,319313,0,1630502911544
85,Q2,2018,andhra-pradesh,guntur district,420326,0,1630502911544
86,Q2,2018,andhra-pradesh,krishna district,431965,0,1630502911544
87,Q2,2018,andhra-pradesh,spsr nellore district,261049,0,1630502911544
88,Q2,2018,andhra-pradesh,vizianagaram district,167327,0,1630502911544
89,Q2,2018,andhra-pradesh,ysr district,248657,0,1630502911544
90,Q2,2018,andhra-pradesh,west godavari district,282393,0,1630502911544
91,Q2,2018,andhra-pradesh,chittoor district,414306,0,1630502911544
92,Q3,2018,andhra-pradesh,east godavari district,558982,0,1630502911588
93,Q3,2018,andhra-pradesh,srikakulam district,228456,0,1630502911588
94,Q3,2018,andhra-pradesh,visakhapatnam district,769096,0,1630502911588
95,Q3,2018,andhra-pradesh,prakasam district,314899,0,1630502911588
96,Q3,2018,andhra-pradesh,anantapur district,405855,0,1630502911588
97,Q3,2018,andhra-pradesh,kurnool district,394311,0,1630502911588
98,Q3,2018,andhra-pradesh,guntur district,518931,0,1630502911588
99,Q3,2018,andhra-pradesh,krishna district,537086,0,1630502911588
100,Q3,2018,andhra-pradesh,spsr nellore district,322446,0,1630502911588
101,Q3,2018,andhra-pradesh,vizianagaram district,203655,0,1630502911588